.button-panel {
    position: absolute;
    margin-top: 325px;
    margin-left: 145px;
    /* outline: 1px solid black; */
}

.main-menu-controls {
    display: inline-block;
    margin-top: 448px;
    margin-left: 296px;
    /* outline: 1px solid black; */
}

.btn {
    display: block;
    width: 170px;
    height: 55px;
    background-color: #afaa95;
    border-radius: 11px;
    border-left: 1px solid rgb(54, 43, 17);
    border-top: 0px solid rgb(54, 43, 17);
    border-right: 1px solid rgb(54, 43, 17);
    border-bottom: 7px solid rgb(59, 43, 17);
    color:rgb(34, 29, 25);
    text-align: center;
    font-size: 25px;
    transition: 70ms;
}

.btn:hover {
    border-top: 3px solid rgb(59, 43, 17);
    border-left: 4px solid rgb(59, 43, 17);
    border-right: 2px solid rgb(59, 43, 17);
    border-bottom: 4px solid rgb(59, 43, 17);
    background-color: #afaa95;
    box-shadow: 0px 9px 6px inset rgb(90, 90, 90);
}

.display {
    display: block;
    width: 40px;
    height: 35px; 
    background-color: black;
    border-radius: 5px;
    border-bottom: 1px solid rgb(59, 43, 17);
    border-top: 1px solid rgb(83, 83, 83);
    border-right: 2px solid rgb(129, 129, 129);
    font-size: 30px;
    text-align: center;
    color: rgb(83, 83, 83);
}

.in-btn-panel-position {
   margin-bottom: 7px;
}

.display-position {
    margin-left: 32px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.in-main-menu {
    margin-top: 72px;
    margin-left: 20px;
    float: right;
}