.main-window {
    width: 100%;
    height: 100%;
    background-image: url(img/background/View_holder.png);
    background-size: cover;
    padding-top: 75px;
}

.game-board {
    display: inline-block;
    margin-left: 500px;
    width: 1210px;
    height: 810px;
    background-image: url(img/background/Main_background.png);
    background-size: cover;
    border-left: 1px solid rgb(37, 32, 25);
    border-top: 0px solid rgb(37, 32, 25);
    border-right: 1px solid rgb(37, 32, 25);
    border-bottom: 2px solid rgb(37, 32, 25);
    border-radius: 4px;
}