body {
    background-color: black;
}

.main-window {
    background-image: url(img/background/View_holder.png);
    background-size: cover;
    padding-top: 75px;
}

.button-panel {
    padding-top: 20px;
    display: inline-block;
    margin-top: 275px;
    margin-left: 115px;
    width: 220px;
    height: 530px;
    /* outline: 1px solid black; */
}

.game-board {
    float: right;
    margin-right: 200px;
    width: 1210px;
    height: 810px;
    /* outline: 5px solid rgb(53, 47, 45); */
    /* box-shadow: -7px 8px 17px rgb(65, 65, 65); */
    background-image: url(img/background/Main_background.png);
    background-size: cover;
    border-left: 1px solid rgb(37, 32, 25);
    border-top: 0px solid rgb(37, 32, 25);
    border-right: 1px solid rgb(37, 32, 25);
    border-bottom: 2px solid rgb(37, 32, 25);
    border-radius: 4px;
}