.main-menu {
    width: 871px;
    height: 543px;
    margin-left: 170px;
    margin-top: 80px;
    background-size: cover;
    background-position-y: -2px;
    border-radius: inherit;
    background-image: url(
        img/background/Main_menu.png);
}

.view {
    padding-left: 325px;
    padding-top: 50px;
}

.invisible {
    display: none;
}